<Configuration strict="true">
    <Appenders>
        <Console name="out">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %highlight{%-5p} [%c{1}::%M:%L %t] %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="out"/>
        </Root>
    </Loggers>
</Configuration>